<!DOCTYPE html>
<html lang="pt-br">
<head>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #inicial { margin : 10px; width: 250px;}
            #mesa {margin : 10px; height: 50px;}
            .button-container {
                text-align: center; /* Alinha os botões no centro da tela */
            }
            select:focus {
                outline: none;
              }
            .mesa-button {
                display: inline-block;
                text-align: center;
                text-decoration: none;
            }
        </style>
        <title>Espetaria Monzani</title>
        <script>
            document.addEventListener('keydown', function(event) {
                if (event.key === 'F2') {
                    pagModal(event);
                } else if (event.key === 'F3') {
                    mostrarModal(event)
                }
        });
        </script>

        <script>

            function mostrarModal() {
                event.preventDefault();
                $("#item-id").select2();
                document.getElementById('meuModal').style.display = 'block';
                $("#item-id").select2('open');
                document.addEventListener('keydown', fecharComEsc);
            }

            function fecharModal() {
                document.removeEventListener('keydown', fecharComEsc);
                $("#item-id").select2('close');
                document.getElementById('meuModal').style.display = 'none';
            }
        </script>

        <script>
            $(document).ready(function () {
        
              // Handle select2:select event
              $("#item-id").on('select2:close', function (e) {
                // Focus on the next input field when an item is selected
                $('#texto').focus();
              });
            });

            
          </script>

        <script>

            function pagModal() {
                event.preventDefault();
                document.getElementById('pagModal').style.display = 'block';
                document.getElementById('text_quant').focus();
                document.getElementById('text_quant').select();
                document.addEventListener('keydown', fecharComEsc);
            }

            function fecharComEsc(event) {
                if (event.keyCode === 27) { // Código da tecla "Esc"
                    fecharModal();
                    pagfecharModal();
                }
            }

            function pagfecharModal() {
                document.removeEventListener('keydown', fecharComEsc);
                document.getElementById('pagModal').style.display = 'none';
            }
        </script>
    </head>
</head>
<body>
    <div class="button-container">
    <h1>{{mesa}}</h1>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for item in vendas %}
                        <tr>
                            <td>{{ item.nome }}</td>
                            <td>{{ item.quantidade }}</td>
                            <td>{{ item.valor }}</td>
                            <!-- Add more columns as needed -->
                        </tr>
                    {% endfor %}
                    <tr class="table-info">
                        <td colspan="2">Recebido</td>
                        <td>{{ recebido }}</td>
                        <!-- Add more columns as needed -->
                    </tr>
                    <tr class="table-info">
                        <td colspan="2">Total</td>
                        <td>{{ total }}</td>
                        <!-- Add more columns as needed -->
                    </tr>
                </tbody>
            </table>
        <form class = "mesa-button" id = 'form2' method="get" onclick="mostrarModal(event)">
            {% csrf_token %}
            <button id = "inicial" class="btn btn-primary btn-sm" type="submit">Adicionar Item (F3) </button>
        </form>
    
        <form class = "mesa-button" id = 'form1' method="get" onclick="pagModal(event)">
            {% csrf_token %}
            <button id = "inicial" class="btn btn-primary btn-sm" type="submit">Pagamento (F2)</button>
        </form>

        <form class = "mesa-button" id = 'form3' method="get" action="{% url 'mesas' %}">
            {% csrf_token %}
            <button id = "inicial" class="btn btn-primary btn-sm" type="submit">Voltar</button>
        </form>
    </div>

    <div id="pagModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Valor Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="pagfecharModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container mt-3">
                    <form method="post" action="{% url 'finalizar_venda' %}">

                    <input type="hidden" name = "mesa_id" value="{{ mesa }}"/>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="text_quant" value = {{total}} name="recebido" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="pagfecharModal()">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="meuModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nome da mesa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fecharModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container mt-3">
                    <form method="post" action="{% url 'salvar_venda' %}">

                    <input type="hidden" name = "mesa_id" value="{{ mesa }}"/>
                    {% csrf_token %}
                    <div class="mb-3">
                        <select class = "form-control" id="item-id", onkeydown="mudarFoco(event)" name="codigo_item", "value" = "">  
                            {% for item in itens %}
                                <option value="{{item.id}}"> {{item.id}}-{{item.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <b>Quantidade</b> 
                        <input type="text" class="form-control" id="texto" placeholder="Digite aqui" name="quantidade" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharModal()">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
