<!DOCTYPE html>
<html lang="en">
<head>
    <head>
      {% load static %}
        <link rel="stylesheet" href={%static 'css/server.css'%} crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src={%static 'js/mesas.js'%}></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">]
        <title>Espetaria Monzani</title>
        
    </head>
</head>
<body>
    <div class="button-container">
    <h1>Espetaria Monzani</h1>
        <div id="mesa-list" method="post" class="mesa-button">
        </div>

        <form id = 'form2' method="get" onclick="mostrarModal(event)">
            {% csrf_token %}
            <button id = "inicial" class="btn btn-primary btn-lg" type="submit">Criar Mesa (F3)</button>
        </form>
    
        <form id = 'form1' method="get" action="{% url 'index' %}">
            {% csrf_token %}
            <button id = "inicial" class="btn btn-primary btn-lg" type="submit">Pagina Inicial (F2)</button>
        </form>
    </div>

    <div id="meuModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nome da mesa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fecharModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="container mt-3">
                <form method="post" action="{% url 'mesas' %}">
                {% csrf_token %}
                  <div class="mb-3">
                    <input type="text" class="form-control" id="texto" placeholder="Digite aqui" name="mesa_nome" required>
                  </div>
                  <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharModal()">Close</button>
                </div>
                </form>
              </div>
          </div>
        </div>
      </div>
</body>
</html>

